<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>최신 대회•공모전 정보</title>
</head>
<body>
        <h1 style="color: #333333; text-align: center;">최신 대회•공모전 정보</h1>
        <p style="color: #666666; line-height: 1.5;">{{ name }}님, 최신 {{ type }} 대회•공모전 정보를 전달해드립니다.</p>
        {{#each contest as |item|}}
            <div class="box">
                <div class="left">
                  <!--
                    <div class="fields">
                        <div class="field">
                            <p>IT•소프트웨어•게임</p>
                            <p>과학•공학•기술</p>
                        </div>
                    </div> -->
                    <a href="{{ item.url }}"><p>{{ item.title }}</p></a>
                    <div class="details">
                        <div class="detail">
                            <h6>주최 </h6>
                            <p>{{ item.host }}</p>
                        </div>
                        <div class="detail">
                            <h6>대상 </h6>
                            <p>{{ item.target }}</p>
                        </div>
                        <div class="detail">
                            <h6>접수 </h6>
                            <p>{{ item.register }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <style>
      .box {
        padding: 10px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .left p {
        font-size: 18px;
        margin-bottom: 5px;
      }
      .left a {
        text-decoration: none;
        color: black;
        font-weight: 700;
      }
      .left a > p {
        margin: 0;
        margin-bottom: 5px;
      }
      .field {
        display: flex;
      }
      .field p {
        font-size: 14px;
        color: #0075ff;
        padding: 5px;
        margin: 0 10px 10px 0;
        border: 1px solid #0075ff;
        border-radius: 5px;
      }
      .details {
        display: flex;
        flex-direction: column;
      }
      .detail {
        display: flex;
        align-items: center;
        padding: 5px 0;
        gap: 5px;
        height: 20px;
      }
      .detail h6 {
        font-size: 10px;
      }
      .detail p {
        margin: 0;
        font-size: 10px;
      }
    </style>
  </body>
</html>